## 16.read/write panel data (1)

현재 작성중인 코드와 같은 폴더(=디렉토리) 내에 train.csv 파일이 있을 때, train.csv 파일을 불러오는 코드를 작성해보세요.

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('/content/train.csv')

In [ ]:
df1

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

## 17.read/write panel data (2)

사용하는 코드와 같은 디렉토리 내에 report.xlsx 파일이 있을 때, report.xlsx 파일의 'report' Sheet 를 불러오는 코드를 작성해보세요.

In [ ]:
df2 = pd.read_excel('/content/report.xlsx')
df2

     symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            3                 ?  alfa-romero  ...       21          27  13495
1            3                 ?  alfa-romero  ...       21          27  16500
2            1                 ?  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
200         -1                95        volvo  ...       23          28  16845
201         -1                95        volvo  ...       19          25  19045
202         -1                95        volvo  ...       18          23  21485
203         -1                95        volvo  ...       26          27  22470
204         -1                95        volvo  ...       19          25  22625

[205 rows x 26 columns]

## 18.read/write panel data (3)

16번에서 불러온 데이터를 다음과 같이 수정하는 코드를 작성해보세요.

작성한 코드 파일의 이름을 solution.py(or .ipynb) 이라고 할 때, 같은 디렉토리 내에 result 폴더를 만들고, result 폴더의 내부에 수정된 데이터를 train(edited).csv로 저장하는 코드를 작성해보세요.

In [ ]:
df1.to_csv("/content/result/train(edit).csv", header=False, index=False)

## 19.missing values

이번 문제에서 만들어지는 데이터는 4문제(19번~22번) 연속으로 사용될 것이기 때문에, DataFrame 원본을 훼손하지 않고 새로운 DataFrame 에 담아 작업해주세요. 앞으로는 이 DataFrame을 지칭할 때는 df_C 라고 하겠습니다.

In [ ]:
df_C = pd.read_excel('/content/toy.xlsx')

In [ ]:
df_C

     A    B     C
0  1.0 -1.0   2.0
1  2.0  NaN   3.0
2  3.0 -3.0   4.0
3  4.0 -4.0   7.0
4  5.0  NaN   NaN
5  NaN -6.0  10.0

In [ ]:
df_C.dropna()

     A    B    C
0  1.0 -1.0  2.0
2  3.0 -3.0  4.0
3  4.0 -4.0  7.0

## 20.missing values  (2)

df_C에서 NaN값을 해당 열에 바로 앞 행에 등장한 값으로 치환하는 방법으로 처리하는 코드를 작성해보세요.

In [ ]:
df_C.ffill()

     A    B     C
0  1.0 -1.0   2.0
1  2.0 -1.0   3.0
2  3.0 -3.0   4.0
3  4.0 -4.0   7.0
4  5.0 -4.0   7.0
5  5.0 -6.0  10.0

In [ ]:
df_C.fillna(method = 'pad', limit=1)

     A    B     C
0  1.0 -1.0   2.0
1  2.0 -1.0   3.0
2  3.0 -3.0   4.0
3  4.0 -4.0   7.0
4  5.0 -4.0   7.0
5  5.0 -6.0  10.0

## 21.missing values  (3)

df_C에 등장하는 NaN값을 해당 열의 평균 값으로 대체하는 방법으로 처리하는 코드를 작성해보세요.

In [ ]:
df_C.fillna(df_C.mean())

     A    B     C
0  1.0 -1.0   2.0
1  2.0 -3.5   3.0
2  3.0 -3.0   4.0
3  4.0 -4.0   7.0
4  5.0 -3.5   5.2
5  3.0 -6.0  10.0

In [ ]:
df_C.fillna(sum(df_C.mean())/len(df_C.columns))

          A         B          C
0  1.000000 -1.000000   2.000000
1  2.000000  1.566667   3.000000
2  3.000000 -3.000000   4.000000
3  4.000000 -4.000000   7.000000
4  5.000000  1.566667   1.566667
5  1.566667 -6.000000  10.000000

## 23.aggregating
각 row(행)의 평균을 저장하고 있는 column(열)을 만들고, column의 이름을 "평균"으로 지정하는 코드를 작성하세요.

In [32]:
df = {'A' : range(1,6),
      'B' : [-1,-2,-3,-4,-5],
      'C' : [2,3,4,7,8]
      }
df = pd.DataFrame(df)

df['평균'] = df.mean(axis=1)
df

   A  B  C        평균
0  1 -1  2  0.666667
1  2 -2  3  1.000000
2  3 -3  4  1.333333
3  4 -4  7  2.333333
4  5 -5  8  2.666667

## 24.aggregating (2)

직전 문제에서의 DataFrame을 그대로 활용하여, 각 열마다의 합계를 맨 마지막 행(5행)으로 추가하는 코드를 작성해보세요.

In [37]:
df.append(df.sum(), ignore_index=True)

      A     B     C        평균
0   1.0  -1.0   2.0  0.666667
1   2.0  -2.0   3.0  1.000000
2   3.0  -3.0   4.0  1.333333
3   4.0  -4.0   7.0  2.333333
4   5.0  -5.0   8.0  2.666667
5  15.0 -15.0  24.0  8.000000

## 25.aggregating (3)

생성된 DataFrame에서 label A와 label B를 기준으로 val1, val2, val3의 합계를 구하는 코드를 작성해보세요.

In [42]:
df_25 = {'A' : range(1,6),
         'B' : reversed(range(-5,0)),
         'C' : [2,3,4,7,8],
         'label' : ['A','A','B','B','B']}

df_25 = pd.DataFrame(df_25)
df_25

df_25 = df_25.groupby(["label"]).sum()
df_25

        A   B   C
label
A       3  -3   5
B      12 -12  19

## 26.pivot table

직전 문제와 동일한 DataFrame 을 이용하여, label column을 기준으로 pivot table(피벗테이블)을 생성하는 코드를 작성해보세요.

In [47]:
df_25 = df_25.pivot_table(index = 'label')
df_25

        A   B   C
label
A       3  -3   5
B      12 -12  19